@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: Azeret Mono; */

/* start first section */

.developer-container{
    width: 1520px;
    height: 750px;
    margin: 0 auto;
    
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;

}
.contain{
    margin-top: 46px;
}
.sub-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.sub-title p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-contain{
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}

/* end first section */


 /* start first section in second page */
.second-page{
    /* background-color:rgba(13, 19, 33, 0.02); */
}

.main-contain{
    width: 1140px;
    height: 1050px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}


.title-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}
.title-contain h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}
.title-contain p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    
}
.first-section{
    width: 96%;
    height: 260px;
    display: flex;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
}
.first-title{
    width:50%;
    height: 235px;
  
}
.first-heading{
    
    font-size: 24px;
    margin-top: 50px;
}
.first-paragraph{
  
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;

}
.first-btn .button{
    box-sizing: border-box;
    opacity: 0.7;
    width: 100px;
    height: 30px;
    margin-top:15px; 
}
.first-image{
    width: 50%;
    
}
.first-image img{
    margin-left: 200px;
}
/* end first section in second page */
/* start second section in second page */

.second-section{
    display: flex;
    border-radius: 16px;
    height: 260px;
    width: 96%;
    margin: 0 auto;
    display: flex;
    background-color: white;
  

}    
.second-image{
    width: 50%;
margin-left: 10px;
}
.second-title{
    margin-right: 200px;
   
}
.second-title .second-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.second-title .second-paragraph{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.second-btn .button{
    box-sizing: border-box;
    opacity: 0.7;
    width: 100px;
    height: 30px; 
    margin-top:15px; 
    
}
/* end seccond section in second page */
/* star third section in second page */
.third-section{
    width: 96%;
    height: 260px;
    margin: 0 auto;
    display: flex;
    border-radius: 16px;
    margin-top: 48px;
    border-radius: 16px;
    margin-bottom: 20px;
    background-color: white;

   
}
.third-title{
    width:50%;
    height: 220px;
    margin-top: 10px;
    
}
.third-heading{
    
    font-size: 24px;
    margin-top: 50px;
}
.third-paragraph{
  
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;

}
.third-btn .button{
    box-sizing: border-box;
    opacity: 0.7;
    width: 100px;
    height: 30px;
   margin-top:15px; 
}
.third-image{
    width: 50%;
    
}
.third-image img{
    margin-left: 200px;
}
.My-Inspiration{
    position: absolute;
width: 1140px;
height: 700px;
left: 148px;
right: 152px;
top: 1950px;
bottom: 2128px;
margin: 0 auto;

}
.inspiration-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-title{
    margin-top: 0px;
    font-size: 32px;
    width: 852px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-title{
    font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   margin-top: 2px;
}
.border{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 100%;
    height: 562px;
  
}